@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@font-face {
    font-family: 'Fontelogo';
    src: url("/fonts/bubblegum-sans-regular.otf");
}

p {
    text-align: justify;    
    text-indent: 50px; /*Alinhamentos de parágrafos*/
}
a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.9);
    font-family: Arial, sans-serif;
}
#interface {
    width: 1800px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px  0px  10px gray; /* 1° deslocamento lateral,2° deslocamento vertical,3° espalhamento da sombra,4° cor da sombra*/ 
    padding: 10px;
}
#icone {
    position: absolute;
    left: 1690px;
    top: 82px;
}
#cabecalho {
    border-bottom: 1px #606060 solid; /*1° largura da borda,2° cor da borda,3° formato da borda*/
    height: 150px;

    background-image: url('css/imagens/glass-logo-peq.jpg');

    background-repeat: no-repeat;
    background-position:  0px 80px;
}
#cabecalho h1 {
    font-family: 'Fontelogo';
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}
#cabecalho h2 {
    font-family: 'Finger Paint', cursive;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}


/* Fomatação  de imagens com legendas*/
.foto-legenda {
    position: relative; /*relative é a posição que fica sempre dentro do container,já o absloute ultrapassa as limitações do container*/
    border: 8px solid white;
    box-shadow:  1px  1px 4px black;
}
.foto-legenda img{
    width: 100%;
    height: 100%;
}
.foto-legenda figcaption {
    opacity: 0; /* 0 é o minímo*/
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4); /*Transparência*/
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /*Criar um box dentro da borda*/
    transition: opacity 1s; /*tempo em que a opacity vai ocorrer*/
}
.foto-legenda:hover figcaption {  /*hover para quando o mouse passar em cima da legenda ela aparecerá*/
    opacity: 1; /*1 é o máximo*/
}

/* Formatação do Menu*/
nav#menu {
    display: block
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: 1200px;
}
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu h1 {
    display: none;
}
nav#menu a{
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: white;
    text-decoration: underline;
}
#corpo {
    display: block;
    width: 900px;
    float: left;
    clear: both;
    border-right: 1px solid #606060;  /*1° largura da borda,2° cor da borda,3° formato da borda*/
    padding-right: 20px;
}
#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
#cabecalho-artigo h1{
    font-family: 'fontelogo' sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: white;
    margin: 0px;
}
#cabecalho-artigo h3{
    font-size: 13pt;
    color: #606060;
}
.h3-direita {
    text-align: right;
}
#tabela {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
#tabela td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.ce {
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}
.cd {
    background-color: #cecece;
    text-align: left;
}
table#tabela caption span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}
#tabela caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}
#lateral {
    display: block;
    width: 850px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,.5);
}
#lateral h1 {
    font-family: 'Fontelogo',sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}
#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: white;
    padding: 5px;
}
#rodape {
    clear: both; /* elimina todos os float acima*/
    border-top: 1px solid #606060;
}
#rodape p {
    text-align: center;
}
