@charset "UTF-8";

form {
    width: 700px;
    margin: auto;
    padding: 5px;
    
}
input, textarea, datalist, select, label {
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: normal;
    background-color: rgba(255, 255, 255, .8);
    margin: 10px;
    
    
}

input:hover, textarea:hover {
    background-color: #dddddd;
}
legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}
fieldset {
    border-color: #cecece;
    margin: 20px;
    width: 600px;
    padding: 15px;
    
    
}
#sexo {
    width: 150px;
}
#usuario {
    background: url("_imagens/icone-contato.png") no-repeat 95% 95%;
    
}
#endereco {
    background: url("_imagens/icone-endereco.png") no-repeat 95% 95%;
    height: 200px;
}
#mensagem {
    background: url("_imagens/icone-mensagem.png") no-repeat 100% 100%;
    height: 200px;
    
}
#pedido {
    background: url("_imagens/icone-pagamento.png") no-repeat 95% 95%;
    height: 240px;
    
}

  