@charset "UTF-8";

#album-fotos {
    width: 700px;
    margin: auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
#album-fotos li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}
#album-fotos li span:hover {
    opacity: 1;
}
#album-fotos li:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
#foto01 {
    background: url('css/imagens/galeria-01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#foto02 {
    background: url('css/imagens/galeria-02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#foto03 {
    background: url('css/imagens/galeria-03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#foto04 {
    background: url('css/imagens/galeria-04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#foto05 {
    background: url('css/imagens/galeria-05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#foto06 {
    background: url('css/imagens/galeria-06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}